
.answer-box{
    width: 200px;
    height: 200px;
    padding: 0;
}

#answer-pic{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: solid 3px black;
    border-radius: 25px;
}

body{
    color: white;
    background-image: url("../images/background.jpg") ;
    background-size: 100%;
    font-family: 'Permanent Marker', cursive;
}

h1{
    font-size: 48px;
    padding-top: 50px;
    padding-bottom: 50px;
}

p{
    font-size: 25px;
}

.pillar{
    border: solid 2px white;
    border-radius: 10px;
    background-color: rgba(90, 86, 86, 0.7);
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 0 15px 0 15px;
}

#gameResult{
    height: 50px;
}